<p>Detalhe do funcionario</p>
<div *ngIf="resultado; else naoEncontrado">
  <div *ngFor="let funcionario of funcionarios | keys: 'array' ">  
    <p>Metodo: {{ funcionario.type }}</p>
    <div class="collection" *ngFor="let metodo of funcionario.valor">
      <a class="collection-item" *ngFor="let position of metodo | keys: 'key'">
        {{ position }} - {{ metodo[position] }}
      </a>
    </div>
  </div>      
</div>
<ng-template #naoEncontrado>
  <div>
      <p>Dados não encontrados!</p>
  </div>
</ng-template>